/* Stretch layout to full height and use flexbox to push footer to bottom */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #83bb83;
}

header {
  background: #053f05;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul, .subnav {
  list-style: none;
  padding: 15px;
  margin: 0;
  background-color: #1f6b1f;
  display: flex;
  justify-content: center;
}

nav ul li, .subnav li {
  margin: 0 10px;
}

nav ul li a, .subnav a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: white;
  background-color: #044b04;
  border-radius: 5px;
}

nav ul li a:hover, .subnav a:hover {
  background-color: #286a7a;
}

main {
  padding: 20px;
  font-family: sans-serif;
  flex: 1; /* Pushes footer to bottom */
}

p {
  font-family: sans-serif;
}

.centered-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.content-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #479147;
  border-radius: 8px;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #053f05;
  color: white;
  margin-top: 30px;
}
