body {
    background-color: darkslategray;
    text-align: center;
    color: whitesmoke;
    font-family: monospace;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: line;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

img {
    width: 60%;
}

figure {
    font-style: italic;
}

li {
    text-align: left;
}

hr {
    border: none;
    height: 2px;
    background-color: lightgray;
    margin: 20px 0;
}

.align-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    width: fit-content;
}

.highlight::first-letter {
    color: cornsilk; 
    font-size: 1.4em;
    font-weight: bold;
}
