h3{
    color: #2875b4;
}

h4{
    color: #43b391;
}

strong{
    color: #59a3b6;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

.italic-text {
    font-style: italic;
    font-weight: normal;
}
