<nav>
    <a href="https://webpages.charlotte.edu/cchapm48/">CLT Web</a> | |
    <a href="https://github.com/cchapm48an/cchapm48an.github.io">GitHub</a> | |
    <a href="https://cchapm48an.github.io/itis3135/">GitHub.io</a> | |
    <a href="https://www.freecodecamp.org/christinechapman">freecodecamp</a> | |
    <a href="https://www.codecademy.com/profiles/ChristineChapman">codecademy</a>| |
    <a href="https://www.linkedin.com/in/christine-chapman-986b99346/">LinkedIn</a>
</nav>
<p>Page built by <a href="calmingcheetah.com/"> Calming Cheetah Enterprize</a> &copy; 2025</p>
<p>
    Designed by <a href="chapmanenterprise.cc/index.html">chapmanenterprise.cc</a> &copy; 2025, 
    <i>Certified in</i> 
    <a href="https://www.freecodecamp.org/certification/christinechapman/responsive-web-design">Responsive Web Design</a> &amp; 
    <a href="https://www.freecodecamp.org/certification/christinechapman/javascript-algorithms-and-data-structures-v8">JADS</a>
  </p>