<h1>Christine Chapman Calm Cheetah 🃏 ITIS3135 </h1>
<nav>
    <p>
        <a href="./">Home</a> | |
        <a href="introduction.html">Introduction</a> | |
        <a href="contract.html">Contract</a> | |
        <a href="stuff/Crappy😒%20WebSite.htm">CRAPPY</a> | |
        <a href="website_evaluations.html">Website Evaluation</a> | |
        <a href="hobby/index.html">Hobby</a> | |
        <a href="tables.html">Tables</a> | |
        <a href="byo_intro.html">BYO Intro</a> | |
        <a href="project_overview.html">Client Project Overview</a> | |
        <a href="clientproject/index.html"> Client Project</a>
    </p>
</nav>